---
---

@import "minima";

/* Dark Theme Override */

body {
  background-color: #0d1117;
  color: #c9d1d9;
}

.site-header,
.site-footer {
  background-color: #010409;
  border-color: #30363d;
}

a {
  color: #58a6ff;
}

a:visited {
  color: #8ab4ff;
}

h1, h2, h3, h4, h5, h6 {
  color: #e6edf3;
}

pre, code {
  background-color: #161b22;
  color: #c9d1d9;
  border: 1px solid #30363d;
}
